<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.mapper.BannerMapper">
    <select id="QueryTotal" resultType="Integer">

        select count(*)
        from banner

    </select>
    <select id="PageRows" resultType="Banner">
  	<![CDATA[
        select *
        from banner
        order by id desc limit ${(Page-1)*PageSize},${PageSize}
        ]]>
  	</select>
</mapper>
